<!--
{{this.calEvent | json}}
{{this.fromDate}}
{{this.toDate}}
-->
<!--
<nz-month-picker [(ngModel)]="fromDate" (ngModelChange)="onChange($event)" nzFormat="YYYY-MM" nzPlaceHolder="Select Month"></nz-month-picker>
<input [(ngModel)]="fkWorkGroup">
-->
<!--[contentHeight]="772"
        [locale]="locale"
        [plugins]="calendarPlugins"
        [events]="calEvent"
        [selectable]="true"
        [header]="calendarHeader"-->
<div class="calendar-div">
    <full-calendar #calendar
        defaultView="dayGridMonth"
        [options]="calendarOptions"
        (dateClick)="onDateClick($event)"
        (eventClick)="onEventClick($event)"
        (datesRender)="onDatesRender($event)"
        (datesSet)="onDatesRender($event)">
    </full-calendar>
</div>
